.box {
    background-color:whitesmoke;
    border-radius: 25px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;

    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
}

label {
    font-size: 18pt;
    position: relative;
    align-self:center;
    height: 10%;
}

.header {
    border:1px solid black;
    height:10%;
    width: calc(100%-17px);
    position: relative;
    text-align: left;
}

.table_block {
    overflow-y:auto;
    position: relative;
    width: 100%;
    height: 60%;
}
.table_block thead th {
    position: sticky; 
    top: 0;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom:1px solid black;
    text-align: left;
    padding: 8px 16px;
}
th {
    background: #9CCDCD;
}
tr:hover {
    background-color: #D6EEEE;
}
a {
    text-decoration: none;
    position: relative;
    align-self: center;
    width: 35%;
    height: 15%;
}

button[type="button"] {
    background-color: lightgray;
    border-radius: 15px;

    font-size: 18pt;

    width: 100%;
    height: 100%;
}